

/* Custom Properties */

:root{

    /* Colors */
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver  :hsl(0,0%,47%);
    --eerie-black   :hsl(0,0%,13%);
    --salmon-pink   :hsl(353,100%,78%);
    --sandy-brown   :hsl(29,90%, 65%);
    --bittersweet   :hsl(0,100%,70%);
    --ocran-green   :hsl(152,51%,52%);
    --devys-gray    :hsl(0,0%,27%);
    --cultured      :hsl(0,0%,93%);
    --white         :hsl(0,0%,100%);

    /* Typography */
    --fs-1:1.563rem;
    --fs-2:1.375rem;
    --fs-3:1.25rem;
    --fs-4:1.125rem;
    --fs-5:1rem;
    --fs-6:0.938rem;
    --fs-7:0.875rem;
    --fs-8:0.813rem;
    --fs-9:0.75rem;
    --fs-10:0.688rem;
    --fs-11:0.625rem;

    --weight-300:300;
    --weight-400:400;
    --weight-500:500;
    --weight-600:600;
    --weight-700:700;


    /* Border Radius */
    --border-radius-md: 10px;
    --border-radius-sm:5px;

    /*  */
    --transition-timing: 0.2s ease;
}

/* Reset properties */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a { text-decoration: none;}
li { list-style: none;}
button{
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
}

img, ion-icon, button , a {display: block;}
span {display: inline;}
html{
    font-family: "Poppins" sans-serif;
    overscroll-behavior: contain;
}
input{
    display: block;
    width: 100%;
    font: inherit;
}

input::placeholder {font: inherit;}
body{
    background: white;
    padding-bottom: 60px;
}

/* Scrollbar stype */
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-scrollbar-track{
    background: var(--white);
    border-left: 1px solid var(--cultured);
}
body::-webkit-scrollbar-thumb{
    background: hsl(0,0%, 80%);
    border:3px solid var(--white)
}
body::-webkit-scrollbar-thumb:hover { 
    background: hsl(0,0%,70%);
}


/* Main */

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%,0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}


/* Resused Peroperties */
.container {padding: 0 15px;}

.has-scrollbar{padding: 0 15px;}
.has-scrollbar::-webkit-scrollbar{
    width: 12px; 
    height: 12px;
}

.has-scrollbar::-webkit-scrollbar-thumb{
    background: transparent;
    border: 3px solid white;
    border-radius: 20px;
}
.has-scrollbar:hover::-webkit-scrollbar-thumb{background: hsl(0 , 0%, 90%);}
.has-scrollbar::-webkit-scrollbar-thumb:hover{background: hsl(0, 0%, 80%);}

.title{
    color: var(--eerie-black);
    font-size: var(--fs-4);
    font-weight: var(--weight-600);
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--cultured);
    text-transform: capitalize;
    line-height: 0.4px;
}


/* Modal Styling */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: hsla(0, 0%, 0%,   0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    /* animation: popup 1s ease-in-out 5s forwards; */
}

/* Used to animate */
@keyframes popup {
    0% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.modal.closed { display: none;}
.modal-close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 1;
}

.newsletter-img {display: none;}
.modal-content{
    position: relative;
    max-width: 350px;
    margin: 20px;
    background:white;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    z-index: 2;
    animation: scaleUp 0.5s ease-in-out 5s forwards;
}

@keyframes scaleUp{
    0% {
        transform: scale(0.9);
    }
    100% { transform: scale(1);}
}

.modal-close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--salmon-pink);
    color: var(--white);
    font: 15px;
    padding: 5px;
    border-radius: var(--border-radius-sm);
}
.modal-close-btn:hover{
    opacity: 0.9;
}
.modal-close-btn ion-icon {
    --ionicon-stroke-width:70px;
}

.newsletter{
    padding: 50px 30px;
    text-align: center;
}

.newsletter-header{
    margin-bottom: 20px;
}
.newsletter-title{
    color: var(--onyx);
    font-size: var(--fs-2);
    font-weight: var(--weight-600);
    margin-bottom: 10px;
}
.newsletter-desc{
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    line-height: 1.6;
}

/* News letter email */
.email-field {
    font-size: var(--fs-7);
    padding: 8px 16px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--cultured);
    margin-bottom: 16px;
}
.btn-newsletter{
    background: var(--eerie-black);
    color: white;
    font-size: var(--fs-7);
    text-transform: uppercase;
    font-weight: var(--weight-600);
    padding: 10px 15px;
    border-radius: var(--border-radius-sm);
    margin: auto;
    transition: var(--transition-timing);
}
.btn-newsletter:hover{
    background: var(--salmon-pink);
}


/* Notification Toast */

.notification-toast{
    position: fixed;
    bottom: 80px;
    left: 20px;
    right: 20px;
    background: white;
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border-radius: var(--border-radius-md); 
    box-shadow: 0, 5px 20px hsla(0, 0%, 0%, 0.5);
    transform: translateX(calc(-100% - 40px));
    transition: 0.5s ease-in-out;
    z-index: 5;
    /* animation: slideOut 10s ease-in-out infinite; */
}

/* Setting slideOut Animation */
@keyframes slideOut {
    0%,45%,100% {
        transform: translateX(calc(-100% - 40px));
        opacity: 0;
        visibility: hidden;
    }
    58%, 95%{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.notification-toast-close {
    display: none;
}
.toast-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--sonic-silver);
}

.toast-close-btn ion-icon{
    --ionicon-stroke-width:50px;
}

.toast-banner{
    width: 70px;
    height: 70px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-sm);
}

.toast-banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.toast-detail {
    width: calc(100% - 85px);
    padding-right: 10px;
}
.toast-message{
    font-size: var(--fs-10);
    color: var(--sonic-silver);
    margin-bottom: 8px;
}

.toast-title {
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    color: var(--onyx);
}

.toast-meta {
    font-size: var(--fs-10);
    color: var(--sonic-silver);


}



/* Banner */

.banner{
    margin: 30px 0;
}

.slider-container{
    display: flex;
    align-items: center;
    gap :10px;
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}
.slider-item{
    position: relative;
    min-width: 100%;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    scroll-snap-align: start;
}

.slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.banner-content{
    background: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    left: 25px;
    bottom: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: var(--border-radius-md);
}

.banner-subtitle{
    color: var(--salmon-pink);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.banner-title{
    color: var(--eerie-black);
    font-size: var(--fs-1);
    text-transform: uppercase;
    line-height: 1;
    /* font-weight: var(--weight-600); */
    margin-bottom: 10px;
}
.banner-text{
    display: none;
}
.banner-btn{
    background: var(--salmon-pink);
    color: var(--white);
    width: max-content;
    text-transform: uppercase;
    font-size: var(--fs-11);
    font-weight: var(--weight-600);
    padding: 4px 10px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
}

.banner-vtn:hover{
    background: var(--eerie-black);
}

/* Category */
.category{
    margin-bottom: 30px;
}
.category-item-container{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.category-item{
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    scroll-snap-align: start;
}

.category-img-box{
    background: var(--cultured);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 10px;
    border-radius: var(--border-radius-md);

}


.category-content-box{
    width: 100%;
}

.category-content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.container-item-title{
    color: var(--eerie-black);
    font: var(--fs-9);
    font-weight: var(--weight-600);
    text-transform: uppercase;
}

.container-item-amount{
    color: var(--sonic-silver);
    font-size: var(--fs-11);
}
.category-btn{
    color: var(--salmon-pink); 
    text-transform: capitalize;
    font-size: var(--fs-9);
    font-weight: var(--weight-500);
}   

/* Side Bar Styling */
.sidebar{
    background: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    left:-100%;
    width: 100%;
    max-width: 400px;
    /* padding: 30px; */
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;  
}

.sidebar.active{
    left: 0;
    overflow:scroll;
    visibility: visible;
}

.sidebar-category{
    padding-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--cultured);
}

.sidebar-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.sidebar-title{
    color: var(--salmon-pink);
    font-size: var(--fs-4);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: var(--weight-600);

}
.sidebar-close-btn{
    color: var(--eerie-black);
    font-size: 22px;
}
.sidebar-close-btn ion-icon { --ionicon-stroke-width: 50px; }
.sidebar-accordion-menu { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0 ;
 }
 .sidebar .menu-title-flex{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .sidebar .menu-title{
    font-size: var(--fs-5);
    font-weight: var(--weight-500);
    color: var(--sonic-silver);
 }

 .sidebar-accordion-menu ion-icon{
    color: var(--sonic-silver);
    font-size: 14px;
    --ionicon-stroke-width:70px;
 }

.sidebar-submenu-category-list{
    border-top: 1px solid var(--cultured);
    max-height: 0;
    overflow: hidden; 
    visibility: hidden; 
    transition: 0.5s ease-in-out;
}

.sidebar-submenu-category-list.active{
    padding: 13px 0 8px;
    max-height: 122px;
    visibility: visible;
}

.sidebar-submenu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    padding: 2px 0;
}

.sidebar-submenu-title:hover{
    color: var(--eerie-black);
}
.sidebar .product-name{ text-transform: capitalize; }
.sidebar-accordion-menu.active .add-icon,
.sidebar-accordion-menu .remove-icon{ display: none; }
.sidebar-accordion-menu .add-icon,
.sidebar-accordion-menu.active .remove-icon{ display: block; }

/* Showcase */

.sidebar .showcase-heading{
    font-size: var(--fs-3);
    font-weight: var(--weight-600);
    color: var(--onyx);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.sidebar .showcase{
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar .showcase:not(:last-child){ margin-bottom: 15px; }
.sidebar .showcase-img { border-radius: var(--border-radius-sm);}
.sidebar .showcase-content { width: calc(100%-90px); }
.sidebar .showcase-title{
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-400);
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
}
.sidebar .showcase-rating{
    display: flex;
    align-items: center;
    color: var(--sandy-brown);
    font-size: 13px;
    padding: 4px 0;
}

.sidebar .price-box{
    display: flex;
    align-items: center;
    gap: 15px;
}
.sidebar .price-box del { color: var(--sonic-silver); font-size: 13px;}
.sidebar .price-box .price { 
    font-size: var(--fs-6);
    font-weight: var(--weight-600);
    color: var(--devys-gray);
 }


/* Products Minimal */
.product-minimal { margin-bottom: 30px;}
.product-minimal .product-showcase {margin-bottom: 10px;}
.product-minimal .showcase-wrapper{
    display: flex;
    align-items: center;
    overflow-x: auto;
    /* gap: 30px; */
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;

}

.product-minimal .showcase-container{
    min-width: 100%;
    padding: 0 10px;
    /* padding-right: 1px; */
    scroll-snap-align: end;
}

.product-minimal .showcase{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border: 1px solid pink;
    padding: 15px;
    margin: 10px;
    border-radius: var(--border-radius-md);
    
}

.product-minimal .showcase:not(:last-child) {
    margin-bottom: 15px;
}
.product-minimal .showcase-content { width: calc(100 - 85px);}

.product-minimal .showcase-title{
    color: var(--eerie-black);
    font-size: var(--fs-7);
    font-weight:var(--weight-600);
    text-transform: capitalize;
    /* white-space: nowrap; */
    /* text-overflow: hidden;
    text-overflow: ellipsis; */
    margin-bottom: 2px;
}

.product-minimal .showcase-category{
    width: max-content;
    color: var(--devys-gray);
    font-size: var(--fs-8);
    text-transform: capitalize;
    margin-bottom: 3px;
}

.product-minimal .showcase-category:hover{color: var(--salmon-pink);}
.product-minimal .price-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-minimal .price {
    font-size: var(--fs-9);
    font-weight: var(--weight-700);
    color: var(--salmon-pink);
}
.product-minimal .price-box del {
    font-size: var(--fs-9);
    color: var(--sonic-silver);
}
